<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PWEB Node</title>
</head>
<body>
    <h2>Esses são os professores preferidos dos alunos da Fatec Sorocaba</h2>
</body>
</html>