<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PWEB Node</title>
</head>
<body>
    <h2>Esta é página Home do site da Fatec de Sorocaba</h2>
</body>
</html>